<div class='sitter-dashboard'>
  <div class='sitter-top-nav'>
    <h1 class='dashboard-heading'>Sitter Dashboard</h1>
    <h1 class='dashboard-heading'>Welcome <%= @sitter.name %></h1>
  </div>
  <div class='side-links'>
    <%= link_to 'My Bookings', bookings_path, class: 'side-link' %>
  </div>
    <%= link_to 'Edit Profile', edit_sitter_path(@sitter), class: 'side-link'  %>
</div>