<div class='main-form'>
  <div class='form'>
    <h2>Step 2: Complete Personal Profile</h2>
    <%= render 'form', sitter: @sitter %>
  </div>
  <%= image_tag 'pet-ownership_walking-dribbble.png' %>
</div>