/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= require_tree .
 *= require_self
 */



@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Poppins|Staatliches&display=swap');


.nav-bar {
  display: flex;
  flex-direction: row;
  height: 100px;
  align-items: center;
  background-color: #1B191E;
  position: sticky;
  justify-content: space-between;
}

.header {
  font-family: 'Poppins', sans-serif;
  font-size: 45px;
  color: white;
  text-decoration: none;
}

.header:hover {
  text-decoration: none;
  color: whitesmoke;
}

.dog_icon {
  font-size: 45px;
  color: whitesmoke;
  margin: 15px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: #F5C86C;
  border-radius: 25px;
  color: #1B191E;
  font-size: 18px;
  border: none;
  padding: 8px;
  margin: 30px;
  justify-self: end;
  width: 140px;
  font-family: 'Poppins', sans-serif;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-links {
  color: #1B191E;
  padding: 12px;
  text-decoration: none;
  display: block;
  font-family: 'Poppins', sans-serif;
}

.dropdown-links:hover {
  background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
  display: block;
}



.main-form {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 80vh;
  width: 100vw;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 45%;
}

.form form {
  width: 100%;
}

.main-form h2 {
  font-size: 56px;
  font-family: 'Staatliches', cursive;
  padding: 12px;
}

.main-form img {
  width: 45%;
  height: auto;
}

input {
  width: 100%;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  height: 35px;
}

.field {
  font-family: 'Poppins', sans-serif;
  padding: 12px;
}

.actions {
  display: flex;
  justify-content: center;
}

.actions input {
  width: 60%;
  margin: 12px;
  background-color: #D3E3A7;
  border: none;
}


#error_explanation {
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
}

#error_explanation h2 {
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  color: #C84949;

}
