// Place all the styles related to the Bookings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new-link {
  font-family: 'Staatliches', cursive;
  font-size: 18px;
  background-color: #9CD9E4;
  padding: 8px;
  margin: 4px;
  border-radius: 18px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #1B181E;
}

.new-link:hover {
  text-decoration: none;
  transform: scale(1.05);
  color: #1B181E;
}

.booking-headers {
  display: flex;
  justify-content: space-between;
}

.bookings-index {
  max-width: calc(100vw - 300px);
  margin: 18px;
  display: flex;
  flex-direction: column;
}

.bookings-index h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 50px;
}