// Place all the styles related to the Owners controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.owner-dashboard {
  height: 100vh;
  background-color: #FCF7FF;
  flex-direction: column;
  display: flex;
}

.owner-top-nav {
  height: 50px;
  background-color: #00A98B;
  display: flex;
  justify-content: space-between;
}

.owner-top-nav h1 {
  color: white;
  font-family: 'Staatliches', cursive;
  margin: 0px 12px;
}

.side-links {
  width: 300px;
  display: flex;
  flex-direction: column;
  background-color: #F4F5F7;
  height: 100vh;
}

.side-link {
  color: black;
  padding: 18px;
  box-shadow: 0px 5px 24px -18px rgba(0,0,0,0.75);
  font-family: 'Poppins', sans-serif;
}