
<div class='home-page-body'>

  <% if sitter_user_signed_in? %> 
    <%= link_to 'Dashboard', sitters_path %>
  <% elsif owner_user_signed_in? %>
    <%= link_to 'Dashboard', owners_path %>
  <% end %>
</div>